<%= link_to 'Back', '/' %>
<br/>
<%= render(ExampleComponent.new(title: "Component test")) do end %>
<br/>
<%= link_to "Create donation", new_donation_path if user_signed_in?  %>
<% if @donations.any? %>
  <% @donations.each do |donation| %>
    <li>
      <%= link_to_if(user_signed_in?, "#{donation.name}", donation_path(donation.id)) %>
    </li>
    <ul>
      <li>
        <%= donation.name %>
      </li>
      <li>
        <%= donation.category.name %>
      </li>
      <li>
        <%= donation.created_at.strftime("%d/%m/%Y") %>
      </li>
      <li>
        <%= donation.claimed ? "Claimed" : "Unclaimed" %>
      </li>
      <li>
        <%= donation.donor.email %>
      </li>
    </ul>
  <% end %>
<% else %>
  <p>No donations found</p>
  <%= link_to "Create donation", new_donation_path  %>
<% end %>

